# Mac OS
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd/web/main

# Test binary, build with `go test -c`
*.test

# Output pf the go coverage tool
*.out

# IDE directory
.idea/
.vscode/

# Emacs
*~

# Environment variables
.env

# Dependency directories
vendor/
